<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>parameters</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.HttpServletParams</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>forward-server</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.forward.ForwardServer</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>forward-receiptor</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.forward.ForwardReceiptor</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>include-server</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.forward.IncludeServer</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>include-receiptor</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.forward.IncludeReceiptor</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>redirect-server</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.redirect.RedirectServer</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>redirect-receiptor</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.redirect.RedirectReceiptor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>parameters</servlet-name>
        <url-pattern>/httpservlet/params</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>forward-server</servlet-name>
        <url-pattern>/httpservlet/forward/forwardserver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>forward-receiptor</servlet-name>
        <url-pattern>/httpservlet/forward/forwardreceiptor</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>include-server</servlet-name>
        <url-pattern>/httpservlet/forward/includeserver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>include-receiptor</servlet-name>
        <url-pattern>/httpservlet/forward/includereceiptor</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>redirect-server</servlet-name>
        <url-pattern>/httpservlet/redirect/redirectserver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>redirect-receiptor</servlet-name>
        <url-pattern>/httpservlet/redirect/redirectreceiptor</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>httpservlet.html</welcome-file>
    </welcome-file-list>
</web-app>
