<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/implementation/myservlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>servlet-implementation.html</welcome-file>
    </welcome-file-list>
</web-app>
