<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <listener>
        <listener-class>pers.xiaoming.javaweb.ServletContextInit</listener-class>
    </listener>

    <listener>
        <listener-class>pers.xiaoming.javaweb.RequestCounter</listener-class>
    </listener>

    <listener>
        <listener-class>pers.xiaoming.javaweb.VisitorCounter</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>helloworld.html</welcome-file>
    </welcome-file-list>
</web-app>
