<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <context-param>
        <param-name>namespace</param-name>
        <param-value>all servlet shared context param</param-value>
    </context-param>
    <context-param>
        <param-name>servlet-context</param-name>
        <param-value>servlet-context-value</param-value>
    </context-param>

    <!--Register Servlet life cycle-->
    <servlet>
        <servlet-name>servlet-lifecycle</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.ServletLifeCycle</servlet-class>
        <init-param>
            <param-name>namespace</param-name>
            <param-value>servlet-config</param-value>
        </init-param>
        <init-param>
            <param-name>address</param-name>
            <param-value>servlet-java-web</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>servlet-lifecycle2</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.ServletLifeCycle2</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet-lifecycle</servlet-name>
        <url-pattern>/lifecycle</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet-lifecycle2</servlet-name>
        <url-pattern>/lifecycle2</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>helloworld.html</welcome-file>
    </welcome-file-list>
</web-app>
