<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <context-param>
        <param-name>namespace</param-name>
        <param-value>context-namespace</param-value>
    </context-param>
    <context-param>
        <param-name>servlet-context</param-name>
        <param-value>servlet-context-value</param-value>
    </context-param>

    <filter>
        <filter-name>myfilter</filter-name>
        <filter-class>pers.xiaoming.javaweb.MyFilter</filter-class>
        <init-param>
            <param-name>namespace</param-name>
            <param-value>filter-namespace</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>myfilter</filter-name>
        <servlet-name>myservlet</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/filter/config</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>filter-config_and_context.html</welcome-file>
    </welcome-file-list>
</web-app>
