<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <filter>
        <filter-name>myfilter</filter-name>
        <filter-class>pers.xiaoming.javaweb.MyFilter</filter-class>
    </filter>

    <filter>
        <filter-name>forward-filter</filter-name>
        <filter-class>pers.xiaoming.javaweb.ForwardFilter</filter-class>
    </filter>

    <filter>
        <filter-name>include-filter</filter-name>
        <filter-class>pers.xiaoming.javaweb.IncludeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>myfilter</filter-name>
        <url-pattern>/filter/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>forward-filter</filter-name>
        <servlet-name>forward-servlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>include-filter</filter-name>
        <servlet-name>include-servlet</servlet-name>
    </filter-mapping>


    <servlet>
        <servlet-name>forward-servlet</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.ForwardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>forward-servlet</servlet-name>
        <url-pattern>/filter/forward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>include-servlet</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.IncludeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>include-servlet</servlet-name>
        <url-pattern>/filter/include</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>forward-receiptor</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.ForwardReceiptor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>forward-receiptor</servlet-name>
        <url-pattern>/filter/forward/redirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>include-receiptor</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.IncludeReceiptor</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>include-receiptor</servlet-name>
        <url-pattern>/filter/include/redirect</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>filter-config_and_context.html</welcome-file>
    </welcome-file-list>
</web-app>
