<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>fullpath</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.FullPathServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>extension-mapping</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.ExtensionMappingServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>path-mapping-with-star</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.PathMappingWithStarServlet</servlet-class>
    </servlet>

    <!--<servlet>-->
        <!--<servlet-name>path-mapping-without-star</servlet-name>-->
        <!--<servlet-class>pers.xiaoming.javaweb.PathMappingWithoutStarServlet</servlet-class>-->
    <!--</servlet>-->

    <servlet>
        <servlet-name>path-mapping-with-star-long</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.PathMappingWithStarLongServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>fullpath</servlet-name>
        <url-pattern>/path/fullpath</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>extension-mapping</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>path-mapping-with-star</servlet-name>
        <url-pattern>/path/star/*</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
        <!--<servlet-name>path-mapping-without-star</servlet-name>-->
        <!--<url-pattern>/path/nostar/</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>path-mapping-with-star-long</servlet-name>
        <url-pattern>/path/star/long/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>fullpath</servlet-name>
        <url-pattern>/path/star/fullpath</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>path.html</welcome-file>
    </welcome-file-list>
</web-app>
