<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <!--Register Servlet here-->
    <servlet>
        <servlet-name>servlet life cycle</servlet-name>
        <servlet-class>ServletLifeCycle</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>servlet life cycle</servlet-name>
        <url-pattern>/life_cycle</url-pattern>
    </servlet-mapping>
</web-app>
