<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <filter>
        <filter-name>myfilter</filter-name>
        <filter-class>pers.xiaoming.javaweb.MyFilter</filter-class>
    </filter>


    <filter>
        <filter-name>nochainfilter</filter-name>
        <filter-class>pers.xiaoming.javaweb.NoChainFilter</filter-class>
    </filter>

    <!--only filter on servlet-->
    <filter>
        <filter-name>myservletfilter</filter-name>
        <filter-class>pers.xiaoming.javaweb.MyServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>myfilter</filter-name>
        <url-pattern>/filter/lifecycle/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>nochainfilter</filter-name>
        <url-pattern>/filter/nochain/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>myservletfilter</filter-name>
        <servlet-name>myservlet</servlet-name>
    </filter-mapping>
    
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>pers.xiaoming.javaweb.MyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/filter/lifecycle</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/filter/nochian</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>lifecycle.html</welcome-file>
    </welcome-file-list>
</web-app>
