<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <listener>
        <listener-class>pers.xiaoming.javaweb.ServletContextInit</listener-class>
    </listener>

    <listener>
        <listener-class>pers.xiaoming.javaweb.RequestCounter</listener-class>
    </listener>

    <listener>
        <listener-class>pers.xiaoming.javaweb.VisitorCounter</listener-class>
    </listener>

    <listener>
        <listener-class>pers.xiaoming.javaweb.LogoutListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>count-practice.html</welcome-file>
    </welcome-file-list>
</web-app>
